.muutosContainer{
    display: block;
    position: relative;
}
.muutosContent1{
    position: relative;
    z-index: 1;
    animation-name: spin;
    animation-duration: 35000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.muutosContent2{
    position: absolute;
    z-index: 0;
    top: 16%;
    width: 64%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.maapallo{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12.1%;
    z-index: 9; 
    transform: translate(-50%, -50%);
}
.nuoli{
    position: absolute;
    z-index: 9;
    width: 15.9%;
    top: 49.5%;
    left: 50%;
    /*
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 65000ms;
    animation-duration: 65000ms;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform-origin: 51% 48%;
    transform-origin: 51% 48%;
    */
    transform: translate(-50%, -50%);
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@keyframes spinreverse {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}