.puuttuukoContainer{
    position: relative;
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
    height: auto;
}

.puuttuukoContent1{
    position: relative;
}

.puuttuukoContent2{
    position: absolute;
    top: 7%;
    left: 50%;
    height: 100%;
    width: 13.5%;
    z-index: 0;
    transform: translateX(-50%);
}

[data-aos="draw"] svg path{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-transition: all 3s ease-in;
    -moz-transition: all 3s ease-in;
    -o-transition: all 3s ease-in;
    transition: all 3s ease-in;    
}
[data-aos="draw"].aos-animate svg path{
    stroke-dashoffset: 0;
}