.puuttuukoContainer{
    position: relative;
    width: 100%;
    height: auto;
}
.puuttuukoContent1{
    position: relative;
}
.puuttuukoContent2{
    position: absolute;
    top: 7%;
    left: 50%;
    height: 100%;
    width: 13.5%;
    z-index: 0;
    transform: translateX(-50%);
}
.puuttuukoContent2 path{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s ease-in forwards;
}
@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }