.btnPrimary{
   display: inline-block;
   position: relative;
   text-decoration: none;
   text-transform: uppercase;
   height: 26px;
   padding: 9px 15px 0 40px;
   background-color: var(--primary);
   color: #ffffff;
   border: none;
   cursor: pointer;
   overflow: hidden;
   z-index: 1;
   border-radius: 16px;
   font-size: 0.8rem;
 }
 .btnPrimary:hover{
    background-color: var(--primary-darker);
 }
 .btnCircle{
   display: flex;
   position: absolute;
   border: 1px solid #fff;
   height: 24px;
   width: 24px;
   border-radius: 100%;
   top: 4.5px;
   left: 4.5px;
   z-index: 3;
   transition: left 0.2s ease-in;
   align-items: center;
   justify-content: center;
 }
 .btnCircle>div{
   background-color: #fff;
   height: 80%;
   width: 80%;
   border-radius: 100%;
 }   
 .btnInnerCover{
   position: absolute;
   height: 35px;
   width: 100%;
   background-color: #004650;
   left: -100%;
   top: 0;
   z-index: 2;
   transition: left 0.2s ease-in;
 }
 .btnPrimary:hover .btnInnerCover{
    background-color: var(--primary-darker);
 }

 .btnPrimary.active .btnCircleContainer{
    transform: translateX(75%);
 }
 .btnPrimary.active .btnInnerCover {
    transform: translateX(-85%);
 }

/*Active styles*/
.btnPrimary.active .btnCircle{
   left: calc(100% - 30px);
}
.btnPrimary.active .btnInnerCover{
   left: 0;
}