@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

/* ==========================================================================
    CSS Variables
   ========================================================================== */
   :root {
      /*---------- Fonts ----------*/
      --base-font-size: 16px;
      --font-family--headers: 'Merriweather', serif;
      --font-family: 'Merriweather', serif;
      /*---------- Colors ----------*/
      --primary: #005D68;
      --primary-darker: #004650;
      --primary-faded: #518d93;

      --secondary: #3657fb;

      --tertiary: #ff5c3e;

      --highlight: #fba33a;

      --neutral-dark: #545454;
    }
   
/* ==========================================================================
   Bootstrap breakpoints
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
   ========================================================================== */

/* ==========================================================================
   General Tags
   All HTML tags that need some generic/default styling.
   No CSS classes or IDs here.
   ========================================================================== */

   *{
      box-sizing: border-box;
   }

   html, 
   body{
      font-family: var(--font-family);
      font-size: var(--base-font-size);
      overflow-x: hidden;
      width: 100%;
      margin: 0;
   }
   
   /*---------- Headings ----------*/
   h1{
      color: var(--primary);
      font-family: var(--font-family--headers);
      font-size: 2.6rem;
      font-style: normal;
      font-weight: 600;
   }
   h2{
      color: var(--primary);
      font-family: var(--font-family--headers);
      font-size: 2.2rem;
   }
   h3{
      font-family: var(--font-family--headers);
      font-size: 1.8rem;
   }
   h4{
      font-family: var(--font-family--headers);
      font-size: 1.2rem;
   }
   h5{
      font-family: var(--font-family--headers);
      font-size: 1.0rem;
   }
   h6{
      font-family: var(--font-family--headers);
      font-size: 1.0rem;
   }
   
   /*---------- Paragraphs ----------*/
   p{
      font-size: 1.0rem;
      line-height: 1.4rem;
      font-family: var(--font-family);
      font-weight: lighter;
   }
   address{
      font-weight: lighter;
      font-style: normal;
      margin: 10px 0px;
   }

   /*---------- Links ----------*/
   a{
      background-image: none;
      font-family: var(--font-family);
      font-weight: lighter;
      text-decoration: none;
   }
   a:active,
   a:hover,
   a:focus {
     outline: 0;
   }

   p a{
      background:
      linear-gradient(
      to bottom, var(--highlight) 0%,
         var(--highlight) 100%
      );
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 4px 2px;
      color: #000;
      text-decoration: none;
      transition: background-size .2s;
      font-weight: bolder; 
   }
   p a:hover {
      background-size: 4px 50px;
   }
   
   /*---------- Images ----------*/
   img{
   
   }
   svg{
      max-width: 100%;
      height: auto;
   }

   /*---------- Lists ----------*/
   ul,
   ol{
   
   }
   li{
   
   }
   
   /*---------- Hr ----------*/
   hr{
   
   }
   
   /*---------- Tables ----------*/
   table{
   
   }	
   tr{
   
   }
   td{
   
   }
   
   /*---------- Buttons ----------*/
   button{
      font-family: var(--font-family);
   }
   
   *:focus,*:active {
       outline: none;
       outline: 0;
   }
   
   /* ==========================================================================
      Forms
      ========================================================================== */
   form{
   
   }	
   input{
   
   }
   input[type="button"]{
   
   }
   input[type="submit"]{
       
   }
   textarea{
   
   }
   
   /* ==========================================================================
      Generic Classes
      Styles shared among multiple elements and/or classes.
      These are used on more than one section/page/html block.
      ========================================================================== */
   
   /*---------- Colors ----------*/
   .faded{
      color: var(--primary-faded);
   }

   /*---------- Backgrounds ----------*/
   
   /*---------- Helpers ----------*/
   .w-100{
       max-width: 100%;
       width: 100%;
       height: auto;
   }

   .hidden{
      display: none;
   }
   
   /*------- Margins -------*/
   .m-t-xs{margin-top: 15px;}
   .m-t-sm{margin-top: 30px;}
   .m-t-md{margin-top: 45px;}
   .m-t-lg{margin-top: 60px;}
   .m-t-xl{margin-top: 75px;}
   .m-b-xs{margin-bottom: 15px;}
   .m-b-sm{margin-bottom: 30px;}
   .m-b-md{margin-bottom: 45px;}
   .m-b-lg{margin-bottom: 60px;}
   .m-b-xl{margin-bottom: 75px;}
   
   /*------- Paddings -------*/
   .p-t-xs{padding-top: 15px;}
   .p-t-sm{padding-top: 30px;}
   .p-t-md{padding-top: 45px;}
   .p-t-lg{padding-top: 60px;}
   .p-t-xl{padding-top: 75px;}
   .p-b-xs{padding-bottom: 15px;}
   .p-b-sm{padding-bottom: 30px;}
   .p-b-md{padding-bottom: 45px;}
   .p-b-lg{padding-bottom: 60px;}
   .p-b-xl{padding-bottom: 75px;}

   /*------- Images -------*/
   .gatsby-image-wrapper{
      max-width: 100%;
   }
   
   /*------- Visibility -------*/
   @media only screen and (max-width: 1200px) {
      .hide-lg{display: none;}
   }
   @media only screen and (max-width: 992px) {
      .hide-md{display: none;}
   }
   @media only screen and (max-width: 768px) {
      .hide-sm{display: none;}
   }

   /*------- Buttons -------*/
   .btn{
      font-family: var(--font-family);
      position: relative;
      display: inline-block;
      text-shadow: none;
      background-image: none;
      padding: 2px 10px 0px 30px;
      border-radius: 16px;
      overflow: hidden;
   }
   .btn-primary{
      background-color: var(--primary);
      color: #fff;
      -webkit-transition: background-color 0.2s ease-in-out; /* Safari */
      transition: background-color 0.2s ease-in-out;
   }
   .btn-primary:hover{
      background-color: var(--primary-darker);
   }
   .btn-circle-container{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0;
      transform: translateX(0%);
      -webkit-transition: transform 0.4s  cubic-bezier(.59,-0.01,.42,.99); /* Safari */
      transition: transform 0.4s  cubic-bezier(.59,-0.01,.42,.99);
   }
   .btn-circle{
      position: absolute;
      width: 16px;
      height: 16px;
      left: 5px;
      top: 4px;
      border-radius: 100%;
      border: 1px solid #fff;
   }
   .btn-circle>div{
      position: absolute;
      background-color: #fff;
      height: 10px;
      width: 10px;
      border-radius: 100%;
      top: 2px;
      left: 2px;
   }   
   .btn-inner-cover{
      position: absolute;
      background-color: var(--primary);
      height: 100%;
      width: 100%;
      transform: translateX(-85%);
      top: 0;
      -webkit-transition: background-color 0.2s ease-in-out; /* Safari */
      transition: background-color 0.2s ease-in-out;
   }
   .btn-primary:hover .btn-inner-cover{
      background-color: var(--primary-darker);
   }
   .btn-outer-circle{
      position: absolute;
      width: 16px;
      height: 16px;
      left: 5px;
      top: 4px;
      border-radius: 100%;
      border: 1px solid #fff;
   }
   .btn-primary.active .btn-circle-container{
      transform: translateX(75%);
   }
   .btn-primary.active .btn-inner-cover {
      transform: translateX(-85%);
   }

   /* ==========================================================================
      Structure/Content
      Styles that define the page structure and/or 
      are directly related with the page content.
      ========================================================================== */

   #wrapper{
      display: flex;
   }
   
   /*---------- Header ----------*/
   header{
      position: fixed;
      width: 100%;
      background-color: #fff;
      z-index: 999;
      top: 0;
      padding: 30px;
   }
   header h1{
      flex: 1;
   }
   #header-content{
      display: -webkit-flex;
      display: flex;
      align-items: end;
   }

   #logo-header{
      width: 150px;
      height: auto;
   }

   @media screen and (max-width: 992px) {
      header {
         padding: 15px 0px;
      }
      #logo-header{
         width: 120px;
         height: auto;
      }
   }
   
   /*--------- Sidebar ---------*/

   #sidebar--content{
      display: flex;
      width: calc(100% - 70px);
      height: 100%;
      background-color: var(--primary);
   }
   #sidebar--always-visible{
      justify-items: center;
      align-items: start;
      width: 70px;
      height: 100%;
      background-color: var(--primary);
   }
   #sidebar.active{
      transform: translateX(0%);
   }
   @media only screen and (max-width: 992px) {
      #sidebar--always-visible{
         justify-items: center;
         align-items: start;
         width: 70px;
         height: 58px;
         background-color: var(--primary);
      }
    }

   /*Hamburger*/
   .hamburger {
      padding: 15px 15px;
      display: inline-block;
      cursor: pointer;
      transition-property: opacity, filter;
      transition-duration: 0.15s;
      transition-timing-function: linear;
      font: inherit;
      color: inherit;
      text-transform: none;
      background-color: transparent;
      border: 0;
      margin: 0;
      overflow: visible; 
   }
   .hamburger:hover {
      opacity: 0.7; 
   }
   .hamburger.is-active:hover {
      opacity: 0.7; 
   }
   .hamburger.is-active .hamburger-inner,
   .hamburger.is-active .hamburger-inner::before,
   .hamburger.is-active .hamburger-inner::after {
      background-color: var(--highlight); 
   }

   .hamburger-box {
      width: 40px;
      height: 24px;
      display: inline-block;
      position: relative; 
   }

   .hamburger-inner {
      display: block;
      top: 50%;
      margin-top: -2px; 
   }

   .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: var(--highlight);
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; 
   }
   .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; 
   }
   .hamburger-inner::before {
      top: -10px; 
   }
   .hamburger-inner::after {
      bottom: -10px; 
   }

   .hamburger--spin .hamburger-inner {
      transition-duration: 0.22s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
   }
   .hamburger--spin .hamburger-inner::before {
      transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; 
   }
   .hamburger--spin .hamburger-inner::after {
      transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
   }

   .hamburger--spin.is-active .hamburger-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
   }
   .hamburger--spin.is-active .hamburger-inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; 
   }
   .hamburger--spin.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); 
   }

   /*Language switcher*/
   #lang-switcher{
      margin: 0;
      padding: 0 15px;
   }
   #lang-switcher li{
      list-style: none;
      margin: 0;
   }
   #lang-switcher li a{
      text-shadow: none;
      color: #fff;
   }

   /*Some*/
   #some-icons{
      margin: 0;
   }
   #some-icons li{
      width: 40px;
      list-style: none;
      margin: 0 auto;
   }

   /*--------- Navigation ---------*/
   #main-nav-container{
      align-self: center;
      justify-self: initial;
      flex: 6;
      text-align: end;
   }
   nav{
      display: block;
   }
   nav ul{
      margin: 0;
   }
   nav ul li{
      display: inline;
      list-style: none;
      margin: 0 15px;
   }
   nav ul li a{
      color: #000;
      text-shadow: none;
      font-size: 1.3rem;
      background-image: none;

   }
   nav ul li a.active{
      font-weight: bold;
   }

   nav ul li a:hover {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .75s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
      background-position: 0 100%;
      background-size: auto 6px;
      background-repeat: repeat-x;
      text-decoration: none;
   }

   /* Mobile navigation */
   #nav-button{
      display: none;
   }
   #main-nav-container.active{
      display: block;
      background-color: white;
      position: absolute;
      top: 100px;
      width: 100%;
      left: 0;
   }


   @media screen and (max-width: 992px) {
      #nav-button{
         display: block;
      }
      #header-logo-container{
         flex: 1;
      }
      #main-nav-container{
         display: none;
      }
      nav ul {
         margin: 0;
         padding: 0;
         text-align: center;
      }
      nav ul li {
         margin-bottom: 15px;
         display: block;
      }
   } 

   /*--------- Body ---------*/
   main{
      width: 100%;
      margin: 124px 0 0 0;
   }
   section{
      margin: 15% 0;
   }
   .section--txt-img{
      display: flex;
      flex-basis: 50%;
      flex-wrap: wrap;
   }
   .section--txt-img div{
      flex: 1;
   }
   .section--img-txt{
      display: flex;
      flex-basis: 50%;
      flex-wrap: wrap;
   }
   .section--img-txt div{
      flex: 1;
   }
   .section--full-width{

   }

   .flex-container{
      display: flex;
      flex-wrap: wrap;
   }
   
   /*--------- Footer ---------*/
   footer{
      background-color: var( --primary-darker);
      color: #fff;
      width: 100%;
      text-align: center;
      padding: 60px 0px;
      margin-top: 50px;
   }
   footer p{
      margin: 0;
   }
   footer .flex-container div{
      flex: 1;
      text-align: left;
      padding: 0px 0px 0px 60px;
   }

   .separator-right{
      border-right: 1px solid var(--primary-faded);
   }

   #logo-footer{
      width: 100%;
      max-width: 150px;
   }
   
   /* ==========================================================================
      Modules
      Styles that define module structure and layout.
      ========================================================================== */
      .valmennukset.reference-overlay{
         background-color: var(--primary);
      }
      .tyoyhteisoviestinta.reference-overlay{
         background-color: var(--secondary);
      }
      .muutosviestinta.reference-overlay{
         background-color: var(--highlight);
      }
      .mediaviestinta.reference-overlay{
         background-color: var(--tertiary);
      }

      /*Alignment*/
      .flex-center-container{
         display: flex;
         align-items: center;
         justify-content: center; 
      }

   /* ==========================================================================
      Animations
      ========================================================================== */
   
   /* ==========================================================================
      Fonts
      ========================================================================== */
      /*
      @font-face {
         font-family: 'Raisonne';
         font-style: normal;
         font-weight: 500;
         src: url('http://s2.palvelin.pro/~hungrydemo/demo/pajacommswp/wp-content/themes/twentynineteen/fonts/raisonne-regular.eot');
         src: local('Raisonne'), local('raisonne-regular'),
              url('http://s2.palvelin.pro/~hungrydemo/demo/pajacommswp/wp-content/themes/twentynineteen/fonts/raisonne-regular.eot?#iefix') format('embedded-opentype'),
              url('http://s2.palvelin.pro/~hungrydemo/demo/pajacommswp/wp-content/themes/twentynineteen/fonts/raisonne-regular.woff2') format('woff2'),
              url('http://s2.palvelin.pro/~hungrydemo/demo/pajacommswp/wp-content/themes/twentynineteen/fonts/raisonne-regular.woff') format('woff'),
              url('http://s2.palvelin.pro/~hungrydemo/demo/pajacommswp/wp-content/themes/twentynineteen/fonts/raisonne-regular.ttf') format('truetype'),
       }
       */
      /*
       @font-face {
         font-family: 'Raisonne';
         font-style: normal;
         font-weight: 500;
         src: url('../fonts/raisonne-regular.eot');
         src: local('Raisonne'), local('raisonne-regular'),
              url('../fonts/raisonne-regular.eot?#iefix') format('embedded-opentype'),
              url('../fonts/raisonne-regular.woff2') format('woff2'),
              url('../fonts/raisonne-regular.woff') format('woff'),
              url('../fonts/raisonne-regular.ttf') format('truetype'),
       }
       */