.sectionTxtImg{
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
}
 .sectionTxtImg div{
    flex: 1;
}
.txtContainer{
    max-width: 375px;
}

@media only screen and (max-width: 768px) {
    .sectionTxtImg{
        flex-direction: column-reverse;
    }
    .txtContainer{
        max-width: 100%;
        text-align: center;
    }
}